@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
<h2>Kontaktní údaje</h2>

<p><a href="mailto:info@3whisky.cz">info@3whisky.cz</a><br />
+420 739 661 033</p>

<h2>Provozovatel obchodu</h2>
<p>The Whisky Shop s.r.o.<br />
Skryjova 1606/8<br />
614 00 Brno<br />
IČO: 26937051<br />
DIČ: CZ26937051</p>
</article>