@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kontaktní údaje</h1>

<a href="mailto:info@3whisky.cz">info@3whisky.cz</a><br />
+420 739 661 033

<h1>Provozovatel obchodu</h1>

The Whisky Shop s.r.o.<br />
Skryjova 1606/8<br />
614 00 Brno<br />
IČO: 26937051<br />
DIČ: CZ26937051