@model Whisky.Db.Entities.Order

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    ga('require', 'ecommerce', 'ecommerce.js');
    ga('ecommerce:addItem', {
        id: '@Model.UniqueNumber',
        revenue: '@Model.TotalPrice',
    });
    ga('ecommerce:send');
</script>

<h1>Objednávka odeslána</h1>

<p>Děkujeme za nákup! Na zadaný email (@Model.Email) bylo odesláno potvrzení a doplňující informace.</p>

<p>
    @Html.ActionLink("Návrat na hlavní stránku", "Home", "Index")
</p>