@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Obchodní podmínky</h2>

<h3>Všeobecná ustanovení</h3>
<p>Kupující učiněním závazné objednávky stvrzuje, že akceptuje Obchodní podmínky pro dodávku zboží vyhlášené prodávajícím. Vztahy mezi kupujícím a prodávajícím se řídí těmito obchodními podmínkami, které jsou zároveň pro obě strany závazné. Pokud nebudou údaje obsažené v objednávce učiněné prostřednictvím objednávkového obchodu úplné, nemůžeme dané objednávce vyhovět. Zákazník uděluje souhlas s celým zněním těchto Obchodních podmínek platných pro internetový obchod okamžikem učinění objednávky.</p>

<p>Prodávající nabízí alkoholické nápoje, které mohou kupovat pouze osoby starší 18 let. Souhlasem s uvedenými obchodními podmínkami a následným nákupem v internetovém obchodě zákazník potvrzuje, že dovršil věku 18 let. Osobám mladším 18ti let veškeré alkoholické nápoje neprodáváme.</p>

<p>Nejsme registrovanými distributory lihu, tudíž námi prodávané destiláty nejsou určeny pro další prodej.</p>

<h3>Dodací podmínky</h3>
<h4>Dodací lhůta</h4>
<p>Objednané zboží bude dle jeho dostupnosti a provozních možností dodavatele dodáno v co nejkratší době poštou nebo jiným přepravcem. Obvykle se jedná o lhůtu:</p>
<ul>
    <li>do 1-5 pracovních dnů od závazného potvrzení objednávky v případě platby dobírkou.</li>
    <li>do 1-5 pracovních dnů od připsání kupní ceny na účet dodavatele v případě platby bankovním převodem.</li>
</ul>
<p>Zboží se považuje za dodané doručením na adresu, kterou zákazník stanovil v objednávce.</p>

<h4>Způsob dopravy</h4>
<p>Dopravu na určenou adresu zajišťuje dodavatel, a to na území celé České republiky. Náklady na dopravu zboží se liší dle zvoleného způsobu dopravy a váhy přepravovaného zboží. Konkrétní způsob dodání si zvolí zákazník sám, aktuální ceník je uveden na stránkách obchodu.</p>

<h4>Způsob uhrazení ceny za zboží</h4>
<p>Zákazník má několik možností uhrazení kupní ceny za zboží. Zboží je možné v plné výši uhradit osobně v provozovně dodavatele, dobírkou v místě předání zboží prostřednictvím smluvní zásilkové služby, nebo poukázáním kupní ceny na účet dodavatele pod příslušným variabilním symbolem, který platbu identifikuje. Zásilka se zbožím obsahuje vždy daňový doklad.</p>

<h4>Osobní odběr</h4>
<p>V případě osobního odběru je zboží zákazníkovi v provozovně dodavatele rezervováno po dobu 3 pracovních dnů od výzvy k odběru zboží. V případě osobního odběru zboží v provozovně dodavatele se kupní smlouva považuje za uzavřenou až zaplacením celé kupní ceny a převzetím zboží zákazníkem.</p>

<h3>Zrušení objednávky ze strany prodejce</h3>
<p>Internetový obchod si vyhrazuje právo zrušit celou objednávku nebo její část v případě, že zboží není skladem, nebo v případě že kupující nedosáhl věku 18 let.</p>

<h3>Částečné vyřízení objednávky</h3>
<p>Nebude-li možné některou část objednávky vyřídit v termínu shora uvedeném pro vyřízení objednávky, bude zbývající část objednaného zboží dodána zákazníkovi v náhradním potvrzeném a zákazníkem a prodávajícím odsouhlaseném termínu. O této skutečnosti bude zákazník vyrozuměn prodávajícím při obdržení objednávky.</p>

<h3>Zrušení objednávky ze strany kupujícího</h3>
<p>Odstoupení od smlouvy (bez udání důvodu) – Storno objednávky ze strany kupujícího. V souladu se zákonem č. 367/2000 Sb. ze dne 14. září 2000 v platném znění, má každý zákazník právo odstoupit od smlouvy do 14 dnů od převzetí zboží při zásilkové formě prodeje. Při odstoupení zákazníka od uzavřené smlouvy lze akceptovat vrácení zboží za současného splnění všech níže uvedených podmínek nutných pro vrácení zboží zákazníkem prodávajícímu. Při jejich nedodržení nelze odstoupení od smlouvy a s tím spojené vrácení zboží akceptovat. Jedná se o tyto podmínky:</p>
<ul>
    <li>zboží musí být nepoužité</li>
    <li>zboží musí být nepoškozené</li>
    <li>zboží musí být zabalené v původním obalu</li>
    <li>zboží musí být kompletní včetně dodaného příslušenství.</li>
</ul>
<p>K takto vrácenému zboží musí být zákazníkem dále přiloženy doklady o prodeji zboží s přiložením čísla bankovního účtu, na které budou vráceny peníze z prodeje zboží. Vrácená částka bude snížena o dopravné, poštovné, apod., které hradí objednatel (zákazník).</p>

<h3>Způsob dopravy</h3>
<p>Dopravu  zajišťují pro internetový obchod přepravní společnosti uvedené v objednávkovém formuláři, dle výběru zákazníka. Za tím účelem je zákazník povinen v objednávce uvést skutečnou dodací a fakturační adresu, na které bude možno provést dodání zboží zákazníkovi. Ceny za dopravné jsou uvedené v objednávkovém formuláři.</p>

<h3>Ceny</h3>
<p>Internetový obchod si vyhrazuje právo měnit ceny zboží v elektronickém obchodě. V již realizovaných a řádně potvrzených objednávkách nebudou ceny zboží měněny a budou závazné pro obě smluvní strany.</p>

<h3>Způsob platby</h3>
<p>Internetový obchod akceptuje  níže uvedené způsoby platby za objednané zboží:</p>
<ul>
    <li>Platba předem na účet</li>
    <li>Zaslání zboží na dobírku s platbou zboží při jeho odběru od přepravní firmy</li>
    <li>Při osobním převzetí zboží můžete zaplatit v hotovosti</li>
</ul>

<h3>Záruka</h3>
<p>Na zboží zakoupené v internetovém obchodu poskytujeme zákonnou záruku v délce trvání ve smyslu příslušných právních předpisů, jež upravují konkrétní délku zákonné záruční doby za prodávané zboží a jeho druh. Záruční doba počíná běžet ode dne dodání zboží zákazníkovi.</p>

<h3>Reklamace</h3>
<p>Zákazník je povinen bez zbytečného odkladu po dodání zboží jej prohlédnout a oznámit prodávajícímu případně zjištěné vady na e-mailovou adresu prodávajícího. Při reklamaci zakoupeného zboží je nutné, aby zákazník prodávajícímu zaslal nebo předložil veškeré listiny, které mu byly předány prodávajícím v rámci vyřízení objednávky reklamovaného zboží, tedy  fakturu. Dále je nutné, aby zákazník v případě že prodávajícímu vrací vadné zboží jej vrátil kompletní tak, jak jej převzal od prodávajícího.</p>
<p>V závislosti na druhu vad a za podmínek stanovených obecně závaznými právními předpisy, zejména pak zákonem č. 40/1964 Sb., občanský zákoník a zákonem č. 513/1991 Sb., obchodní zákoník, v platném znění, má zákazník možnost se v případě reklamace domáhat, aby vadné zboží bylo opraveno nebo vyměněno za zboží nové anebo může od kupní smlouvy odstoupit a požadovat vrácení kupní ceny v případě, že se bude jednat o vadu neopravitelnou nebo opakovanou.</p>
<p>Prodávající bez zbytečného odkladu po obdržení reklamace a reklamovaného zboží reklamaci vyřídí nebo podá kupujícímu zprávu o průběhu vyřizování reklamace. Pro vyřízení reklamace se stanoví lhůta 30 dnů od vrácení a přijetí zboží prodejcem. V odůvodněných případech je možné tuto lhůtu prodloužit po předchozí dohodě se zákazníkem.</p>
<p>Podmínkou pro kladné vyřízení reklamace zboží v záruční době je skutečnost, že reklamované zboží nebude vykazovat vady či jiné poškození, které by bylo způsobeno neodborným zacházením zákazníkem.</p>
<p>Vyobrazení jednotlivých produktů jsou pouze ilustrativní a nelze na jejich základě vymáhat jekékoli právní skutečnosti.</p>
<p>Prodávající nepřebírá odpovědnost za škody způsobené provozem prodaného zboží, funkčních vlastností a škod způsobených z neodborného používání zboží a z neodborné montáže zboží, stejně jako škod způsobených vnějšími událostmi a chybnou manipulací. Na vady tohoto původu se nevztahuje poskytnutá záruka. Ve svém oznámení musí zákazník uvést jaké vady byly u zakoupeného zboží zjištěny a tyto náležitým způsobem konkretizovat.</p>

<h3>Souhlas s používáním osobních dat</h3>
<p>Poskytnutím údajů k registraci či uskutečněním objednávky zboží zákazník souhlasí s tím, aby internetový obchod vesmyslu § 4 písm. e) zákona č. 101/2000 Sb. v platném znění, údaje o zákazníkovi zpracoval a využil pro své interní a marketingové potřeby. Internetový obchod a provozovatel obchodu je povinen s osobními údaji nakládat způsobem, aby nedošlo k jejich zneužití neoprávněnou osobou.</p>
