<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>3whisky</title>
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<style type="text/css">
	.panel {
		border: 1px solid #ddd;
		padding: 0 1em 1em 1em;
	}
	</style>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-50424284-2', '3whisky.azurewebsites.net');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>3whisky <small>Každý měsíc vybíráme 3 exkluzivní whisky, které dovážíme přímo ze Skotska.</small></h1>
        </div>

        @RenderBody()

        <footer>
            <h3>Kontakt: info@3whisky.cz</h3>
            <a href="@Url.Action("TermsAndConditions")">Obchodní podmínky</a>
        </footer>
    </div>
</body>
</html>
